body{
    background-color: rgb(94, 94, 181);
    text-align: center;
}

h1{
    background-color: white;
    border-radius: 15px;
    width: 50%;
    margin-left: 25%;
}

h1:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
}
